<div class='modal-film__img-block'>
  <img
    class='film-img'
    src='{{#if poster_path}}https://image.tmdb.org/t/p/w500/{{poster_path}}{{^}}./images/film.svg{{/if}}'
    alt='{{title}}'
    width='375'
    height='478'
  />
</div>
<div class='modal-film__film-content'>
  <h1 class='modal-film__film-name'>{{title}}</h1>

  <ul class='modal-film__film-data-list'>
    <li class='modal-film__film-data-elem'>
      <p class='modal-film__film-data'>Vote / Votes</p>
      {{vote_average}}/ {{vote_count}},
    </li>
    <li class='modal-film__film-data-elem'>
      <p class='modal-film__film-data'>Popularity</p>
      {{popularity}}
    </li>
    <li class='modal-film__film-data-elem'>
      <p class='modal-film__film-data'>Original Title</p>
      {{original_title}}
    </li>
    <li class='modal-film__film-data-elem'>
      <p class='modal-film__film-data'>Genre</p>
      <ul>
        {{#each genres}}
  <li>{{name}}</li>
{{~/each}}
      </ul>
    </li>
  </ul>

  <div class='modal-film__about-film'>
    <h2 class='modal-film__about'>ABOUT</h2>
    <p class='modal-film__about-text'>
      {{overview}}
    </p>
  </div>
  <button class='modal-film__btn' type='button'></button>
  <button class='modal-film__btn' type='button'></button>
</div>